section.gameplay-screen {
    background: $black;
    position: relative;

    .results {
        margin-top: 2rem;
        margni-left: 1rem;
        color: red;
    }

    .grid {
        width: 80rem;
        height: 80rem;
        border: 1px solid black;
        display: flex;
        flex-wrap: wrap;

        .square {
            width: 5.3rem;
            height: 5.3rem;
            display: flex;
            justify-content: center;
            align-items: center;

            & > i {
                display: none;
            }

            &.invader {
                background-color: none;
                border-radius: 50%;
                color: white;

                i {
                    font-size: 2.5rem;
                    display: inline;
                }
            }

            &.shooter {
                i {
                    display: inline;
                    font-size: 2.5rem;
                    color: $blue_light;
                }
            }

            &.laser {
                i {
                    display: inline;
                    font-size: 2.5rem;
                    color: $gold_light;
                }
            }

            &.boom {
                i {
                    display: inline;
                    font-size: 4rem;
                    color: red;
                }
            }
        }
    }
}
